<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdhye.toyproject.board.model.dao.BoardMapper">

    <resultMap id="BoardDTO" type="com.hdhye.toyproject.board.model.dto.BoardDTO">
        <id property="bulletinCode" column="BULLETIN_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="views" column="VIEWS"/>
        <result property="content" column="CONTENT"/>
        <result property="creationDate" column="CREATION_DATE"/>
        <result property="deleteYn" column="DELETE_YN"/>
        <result property="modifiedDate" column="MODIFIED_DATE"/>
        <result property="allowComments" column="ALLOW_COMMENTS"/>
        <association property="category" resultMap="CategoryDTO"/>
        <association property="employee" resultMap="EmployeeDTO"/>
    </resultMap>

    <resultMap id="CategoryDTO" type="com.hdhye.toyproject.board.model.dto.CategoryDTO">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="nameBoard" column="NAME_BOARD"/>
    </resultMap>


    <resultMap id="EmployeeDTO" type="com.hdhye.toyproject.board.model.dto.EmployeeDTO">
        <id property="empNo" column="EMP_NO"/>
        <result property="empName" column="EMP_NAME"/>
    </resultMap>

<!--    <resultMap id="BoardResponse" type="com.hdhye.toyproject.board.model.dto.BoardResponse">-->
<!--        <association property="board" resultMap="BoardDTO"/>-->
<!--        <association property="category" resultMap="CategoryDTO"/>-->
<!--        <association property="employee" resultMap="EmployeeDTO"/>-->
<!--    </resultMap>-->


    <select id="selectTotalCount" resultType="_int" parameterType="com.hdhye.toyproject.common.SelectCriteria">
        SELECT count(*)
        FROM TBL_BULLETIN_BOARD A
        <if test="searchCondition == 'name'">
            JOIN TBL_EMPLOYEE B ON(A.EMP_NO = B.EMP_NO)
        </if>
        <where>
            <if test="searchCondition == 'title'">
                A.TITLE LIKE '%' || #{searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                A.CONTENT LIKE '%' || #{searchValue } || '%'
            </if>
            <if test="searchCondition == 'name'">
               B.EMP_NAME LIKE '%' || #{searchValue } || '%'
            </if>
            AND A.DELETE_YN = 'N'
            AND #{categoryCode} in A.CATEGORY_CODE
        </where>
    </select>

    <select id="selectBoardList" resultMap="BoardDTO" parameterType="com.hdhye.toyproject.common.SelectCriteria">
        SELECT
        A.RN,
        A.BULLETIN_CODE,
        A.TITLE,
        A.VIEWS,
        A.CONTENT,
        A.CREATION_DATE,
        A.MODIFIED_DATE,
        A.ALLOW_COMMENTS,
        A.CATEGORY_CODE,
        F.NAME_BOARD,
        E.EMP_NAME
    FROM (
        SELECT
            ROWNUM RN,
            B.BULLETIN_CODE,
            B.TITLE,
            B.VIEWS,
            B.CONTENT,
            B.CREATION_DATE,
            B.MODIFIED_DATE,
            B.ALLOW_COMMENTS,
            B.CATEGORY_CODE,
            B.EMP_NO
        FROM (
            SELECT
                C.BULLETIN_CODE,
                C.TITLE,
                C.VIEWS,
                C.CONTENT,
                C.CREATION_DATE,
                C.MODIFIED_DATE,
                C.ALLOW_COMMENTS,
                C.CATEGORY_CODE,
                C.EMP_NO,
                D.EMP_NAME
            FROM TBL_BULLETIN_BOARD C
            JOIN TBL_EMPLOYEE D on (C.EMP_NO = D.EMP_NO)
            <where>
            <if test="searchCondition == 'title'">
            AND C.TITLE LIKE '%' || #{searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
            AND C.CONTENT LIKE '%' || #{searchValue } || '%'
            </if>
            <if test="searchCondition == 'name'">
            AND D.EMP_NAME LIKE '%' || #{searchValue } || '%'
            </if>
            AND C.DELETE_YN = 'N'
            AND C.CATEGORY_CODE = #{categoryCode}
            </where>
            ORDER BY C.BULLETIN_CODE DESC
        ) B
        <![CDATA[
            WHERE ROWNUM <= #{endRow}
        ]]>
    ) A
    JOIN TBL_EMPLOYEE E ON(A.EMP_NO = E.EMP_NO)
    JOIN TBL_BULLETIN_CATEGORIES F ON(A.CATEGORY_CODE = F.CATEGORY_CODE)
    WHERE A.RN >= #{startRow}
    ORDER BY 1 ASC
    </select>

</mapper>